body {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(var(--background));
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border-radius: calc(var(--radius) - 4px);
    background-color: hsl(var(--muted-foreground) / 0.3) !important;
}

::-webkit-scrollbar-track {
    background-color: hsl(var(--muted)) !important;
}
