.verse-select-text {
    caret-color: transparent;
}

.show-chapter-verses {
    s {
        text-decoration: none !important;
        padding: 1px;
        font-size: 9px;
        border: 1px solid rgb(165, 165, 165) !important;
        color: rgb(48, 48, 48) !important;
        margin-left: 2px;
        margin-right: 5px;
        border-radius: 3px;
        cursor: pointer;
        user-select: none !important;
        display: none;
    }

    j {
        color: rgb(252, 84, 84);
        font-weight: 500;
    }

    .HasHighlightSpan {
        border-radius: 5px;
        padding: 0 2px 0 2px;
    }

    [contenteditable]:focus {
        outline: 0 solid transparent;
    }
}

.dark {
    .show-chapter-verses {
        s {
            border: 1px solid rgb(71, 71, 71) !important;
            color: white !important;
        }

        j {
            color: rgb(253, 155, 155);
            font-weight: 500;
        }
    }
}
