.ProseMirror {
    min-height: 300px;
    outline: none;
    padding: 20px 15px 15px 15px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
}

.prose-mirror-render-html {
    padding-top: 10px;
}

.ProseMirror,
.prose-mirror-render-html {
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            opacity: 1;

            &:hover {
                background-color: var(--primary-color);
            }
        }
    }

    > * + * {
        margin-top: 0.75em;
    }

    ul,
    ol {
        // padding: 0 0 1rem ;
        padding-top: 0;
        margin-top: 0;

        li {
            p {
                padding: 0;
                margin: 0 !important;
            }
        }
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        padding: 0;
        margin: 0 0 15px;
    }

    h1 {
        font-size: 2rem;
        font-weight: 800;
    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #0d0d0d;
        color: #fff;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;

        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0d0d0d, 0.1);
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0d0d0d, 0.1);
        margin: 1rem 0;
    }

    code {
        padding: 1px 5px 1px 5px;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        margin: 0 5px 0 5px;
    }

    .is-empty.is-editor-empty {
        color: white;
        margin: 0;
    }

    p {
        margin: 0;
        padding: 0 0 15px;
    }
}

.dark {
    .ProseMirror {
        hr {
            border-top: 2px solid rgba(#ffffff, 0.3);
        }

        code {
            color: rgb(172, 172, 172);
            background-color: #4949492f;
        }
    }
}

.editor-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

    button {
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        padding: 3px 2px 2px 2px;

        &.is-active {
            background-color: var(--primary-color);
            color: #0d0d0d;
            border-radius: 3px;

            &:hover {
                background-color: var(--primary-color) !important;
                color: #0d0d0d !important;
                border-radius: 3px !important;
            }
        }

        &:hover {
            color: var(--primary-color);
        }
    }
}
