---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" sizes="16x16" href="/ico/16x16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/ico/32x32.png" />
        <link rel="icon" type="image/png" sizes="48x48" href="/ico/48x48.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
