---
import Layout from '../layouts/Layout.astro';
const sampleEnv = import.meta.env.SAMPLE;
---

<Layout title="Welcome to Astro.">
    <main class="text-red-6">Hellow World! {sampleEnv}</main>
</Layout>
