:root {
    --primary-color: #f2ad23;
    --primary-color-light: rgba(238, 167, 24, 0.212);
}

@import './common/scrollbar.scss';
@import './common/splitjs.scss';
@import './common/editorStyle.scss';

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins/Poppins-Regular.ttf');
}

* {
    font-family: Poppins;
}
