.content-render {
    img {
        width: 100%;
        margin-bottom: 20px;
    }

    ul {
        padding-left: 10px;
        padding-bottom: 20px;
        list-style-type: disc;

        a {
            position: relative;
            color: var(--primary);

            &:before {
                content: '';
                height: 2px;
                position: absolute;
                bottom: -5px;
                width: 0;
                background-color: var(--primary);
                transition: all 0.2s;
            }

            &:hover {
                color: var(--primary);

                &::before {
                    width: 100%;
                }
            }
        }

        li {
            p {
                padding-bottom: 5px;
                padding-top: 5px;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 15px;
        margin-top: 30px;
        position: relative;
        font-weight: bold;

        a {
            position: relative;
            color: var(--primary);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1em;
    }

    pre {
        @apply bg-slate-900;

        position: relative;
        padding: 10px;
        border-radius: 7px;
        overflow-x: auto;
        transition: all 0.25s;
        font-size: 16px;
        margin-bottom: 30px;

        code {
            font-family: 'Courier New', Courier, monospace;
            font-size: 18px;
        }
    }

    p {
        padding-bottom: 20px;
        padding-top: 10px;

        a {
            @apply px-[5px] border-b-2 border-slate-300 font-bold relative;

            &:hover {
                --gradient-from-color: #ff76e1;
                --gradient-to-color: #8fd3f4;
                --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(162, 247, 182, 0));
                background-image: linear-gradient(to right, var(--gradient-color-stops));
                border-radius: 0.125rem;
                font-size: 1.125rem;
                overflow-wrap: break-word;
                padding: 0.25rem 0.5rem;
                color: black;
            }
        }

        code {
            --gradient-from-color: #a2f7b6;
            --gradient-to-color: #8fd3f4;
            --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(162, 247, 182, 0));
            background-image: linear-gradient(to right, var(--gradient-color-stops));

            @apply text-slate-950 px-1 text-lg rounded-md;
        }
    }

    *::-webkit-scrollbar {
        height: 10px;
    }

    a {
        word-wrap: break-word;
        text-decoration: none;
        color: var(--orange) !important;

        &:hover {
            background-color: var(--orange);
            color: black !important;
        }
    }
}

.sepia {
    .content-render {
        pre {
            color: white;
            background-color: rgb(20, 14, 14);
        }
    }
}

.light {
    .content-render {
        pre {
            color: white;
            background-color: rgb(20, 20, 20);
        }
    }
}
