.splitpanes__splitter {
    position: relative;
}
.splitpanes__splitter:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: var(--primary-color);
    opacity: 0;
    z-index: 1;
}
.splitpanes__splitter:hover:before {
    opacity: 0.2;
}
.splitpanes--vertical > .splitpanes__splitter:before {
    left: -3px;
    right: -3px;
    height: 100%;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
    top: -3px;
    bottom: -3px;
    width: 10px;
}
