---
import { supabase } from './../../lib/supabase';
import Layout from '../../layouts/Layout.astro';
import './../../style/common/ContentRender.scss';
import relativeTime from 'dayjs/plugin/relativeTime';
import dayjs from 'dayjs';
dayjs.extend(relativeTime);
const { data, error } = await supabase.from('sermons').select('*').eq('slug', Astro.params.slug).single();
---

<Layout title={data.title}>
    <div>
        <pre>
            {JSON.stringify(data, null, 2)}
        </pre>
    </div>
    <div class="content-render max-w-3xl mx-auto">
        <h2>{data.title}</h2>
        <di>
            <small>{dayjs(data.created_at).fromNow()}</small>
        </di>
        <div set:html={data.content} />
    </div>
</Layout>
